


#boton_verde {color: #25a342;}
.navbar-brand{width: 100px;}
.carousel-item{opacity: .8;}
.conoce{ text-align: center;}
.oradores{text-align: center;}
.convierte{text-align: center;}
.ora{text-align: center ;}
.anotate{text-align: center;}
